@using System.Data.SqlClient;
@using System.Configuration;

@{
    Page.Title = "Delete Product";
    Layout = "~/Layout/Layout.cshtml";


    var name = "";
    var description = "";
    var price = "";
    var productId = "";


    if (!IsPost)
    {
        if (!Request.QueryString["Id"].IsEmpty() && Request.QueryString["Id"].IsInt())
        {
            productId = Request.QueryString["Id"];
            string conStr = ConfigurationManager.ConnectionStrings["ConStr"].ConnectionString;
            using (SqlConnection con = new SqlConnection(conStr))
            {
                con.Open();
                string query = string.Format("SELECT * FROM Products WHERE ProductID = '{0}'", productId);
                using (SqlCommand cmd = new SqlCommand(query, con))
                {
                    SqlDataReader result = cmd.ExecuteReader();


                    if (result.HasRows)
                    {
                        result.Read();
                        name = result["Name"].ToString();
                        description = result["Description"].ToString();
                        price = result["Price"].ToString();
                    }
                    else
                    {
                        Validation.AddFormError("No product was found for that ID.");
                    }
                }
            }
        }
        else
        {
            Validation.AddFormError("No product was found for that ID.");
        }
    }

    if (IsPost && !Request["buttonDelete"].IsEmpty())
    {

        productId = Request.Form["productId"];

        string conStr = ConfigurationManager.ConnectionStrings["ConStr"].ConnectionString;
        using (SqlConnection con = new SqlConnection(conStr))
        {
            con.Open();
            string query = string.Format("DELETE FROM Products WHERE ProductID='{0}'", productId);
            using (SqlCommand cmd = new SqlCommand(query, con))
            {
                var result = cmd.ExecuteScalar();
            }
        }

        Response.Redirect("~/ListProducts.cshtml");
    }

}


<h2>Delete a Product</h2>
@Html.ValidationSummary()


<form method="post">
    <fieldset>
        <legend>Product Information</legend>

        <p>
            <span>Name:</span>
            <span>@name</span>
        </p>

        <p>
            <span>Description:</span>
            <span>@description</span>
        </p>

        <p>
            <span>Price:</span>
            <span>@price</span>
        </p>

        <input type="hidden" name="productid" value="@productId" />
        <p><input type="submit" name="buttonDelete" value="Delete " />Product</p>
    </fieldset>
    <p><a href="~/ListProducts.cshtml">Return to product listing</a></p>
</form>


